@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
} */
/* .hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
}

.logo{
    color: white;
    font-size: 28px;
} */
/* nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #ea1538;
    transition: 0.3s;
} */

/* 
.login{
    background-color: #fff;
    min-width: 9.38em;
    color: #6d57ff;
    background-image: none;
    border: 1.5px solid #6d57ff;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    padding: 0.63rem 2.5em;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    transition: color .3s,background-color .3s;
    display: flex;
    position: relative;
}
.login:hover{
    color: #fff;
    background-color: #6d57ff;
} */

.nav{
    z-index: 1000;
    box-shadow: none;
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0%;
    right: 0%;
}
/* nav{
    display: block;
} */
.container .is--nav{
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    position: static;
}
.container{
    width: 100%;
    max-width: 100em;
    margin-left: auto;
    margin-right: auto;
    padding: 5.94em 6.25em;
    position: relative;
    max-width: 1520px;
}
.nav_menu{
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 1rem;
    display: flex;
}
.nav__menu-dp-wrap {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    display: flex;
}
.nav__menu-dp-link {
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    transition: opacity .1s;
    display: flex;
}
.nav__menu-link-padding {
    cursor: pointer;
    align-items: center;
    padding: 1.7em;
    text-decoration: none;
    display: flex;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
.nav__menu-link-txt {
    font-size: .9rem;
    font-weight: 700;
}
.nav__btns-wrp {
    grid-column-gap: 0.53rem;
    justify-content: flex-end;
    align-items: stretch;
    display: flex;
    margin-right: -63px;
}
.btn_navbar .is--navbar-login {
    background-color: #fff;
    background-image: none;
    border: 1.5px solid #6d57ff;
}
.btn_navbar {
    min-width: 3.38em;
    color: #6d57ff;
    background-color: #fff;
    background-image: none;
    border: 1.5px solid #6d57ff;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    padding: 0.63rem 2.5em;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    transition: color .3s,background-color .3s;
    display: flex;
    position: relative;
    cursor: pointer;
}
.btn_navbar.is--main-cta {
    color: #fff;
    background-color: #6d57ff;
    border-style: none;
    display: flex;
}
.container.is--nav {
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    position: static;
}
.btn_navbar.is--navbar-login:hover {
    color: #fff;
    background-color: #6d57ff;
}
.btn_navbar.is--main-cta:hover {
    background-color: #57c2ff;
}
a:hover {
    color: #6d57ff;
    transition: 0.3s;
}
